---
import MainLayout from '@/layouts/MainLayout.astro';
import Mod0 from "@/components/products/Mod0.astro";

export function getStaticPaths() {
  const languages = ['en', 'es'];
  const products = ['mod0'];
  
  return languages.flatMap((lang) => 
    products.map((product) => ({
      params: { lang, product }
    }))
  );
}

const { product } = Astro.params;

const productMap: Record<string, any> = {
    'mod0': Mod0,
};

const SelectedProduct = product ? productMap[product] : null;
---

<MainLayout>
  {SelectedProduct ? <SelectedProduct /> : <h1>404 - No encontrado</h1>}
</MainLayout>